<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>chart</title>

    <!-- cdn -->
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <!-- chartist.js -->
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  </head>

  <body>
    <!-- chart js -->
    <h2>chartjs</h2>
    <div style="width:500px; height:500px;">
      <canvas id="chart_js"></canvas>
    </div>

    <!-- chartist js -->
    <h2>chartist</h2>
  </body>

  <!-- js -->
  <script type="text/javascript">
    const chart = () => {
      const ctx = $('#chart_js');
      const type = 'line'

      const data = {
        labels : ["January","February","March","April","May","June","July"],
        datasets : [
          {
            fillColor : "rgba(220,220,220,0.5)",
            strokeColor : "rgba(220,220,220,1)",
            pointColor : "rgba(220,220,220,1)",
            pointStrokeColor : "#fff",
            data : [65,59,90,81,56,55,40],
          },
          {
            fillColor : "rgba(151,187,205,0.5)",
            strokeColor : "rgba(151,187,205,1)",
            pointColor : "rgba(151,187,205,1)",
            pointStrokeColor : "#fff",
            data : [35,52,95,78,54,55,45],
          }
        ]
      }

      const options = {
        scaleSteps : 10,
        scaleStartValue : 0,
        scaleStepWidth : 10,
      }

      const config = {
        type: type,
        data: data,
        options: options,
      }

      new Chart(ctx, config);
    };

    const chartist = () => {
    };

    $(() => {
      chart();
      chartist();
    });
  </script>
</html>
