<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>chartjs</title>

    <!-- cdn -->
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
  </head>

  <!-- template -->
  <body>
    <h2>売上</h2>
    <div style="width:500px; height:500px;">
      <canvas id="bar"></canvas>
    </div>

    <h2>売上推移</h2>
    <div style="width:500px; height:500px;">
      <canvas id="line"></canvas>
    </div>

    <h2>カテゴリ別売上比（5月）</h2>
    <div style="width:500px; height:500px;">
      <canvas id="doughnut"></canvas>
    </div>
  </body>

  <!-- js -->
  <script type="text/javascript">
    const bar = () => {
      const ctx = $('#bar');
      const type = 'bar';

      const data = {
        labels: ['5/25', '5/26', '5/27', '5/28', '5/29', '5/30', '5/31'],
        datasets: [
          {
            label: '今週の売上（万円）',
            data: [65, 59, 90, 81, 56, 55, 40],
            backgroundColor: 'rgba(0, 136, 220, 0.5)',
            pointStrokeColor: '#0088EA',
          },
          {
            label: '先週の売上（万円）',
            data: [35, 52, 95, 78, 54, 55, 45],
            backgroundColor: 'rgba(209, 235, 255, 0.5)',
            pointStrokeColor: '#D1EBFF',
          }
        ]
      }

      const options = {};

      const config = {
        type: type,
        data: data,
        options: options,
      }

      new Chart(ctx, config);
    };

    const line = () => {
      const ctx = $('#line');
      const type = 'line';

      const data = {
        labels: ['1月', '2月', '3月', '4月', '5月', '6月'],
        datasets: [
          {
            label: '売上推移',
            data: [1050, 1184, 1335, 1296, 1401, 1500],
            backgroundColor: 'rgba(0, 136, 220, 0.5)',
            pointStrokeColor: '#0088EA',
          },
        ]
      }

      const options = {};

      const config = {
        type: type,
        data: data,
        options: options,
      }

      new Chart(ctx, config);
    };

    const doughnut = () => {
      const ctx = $('#doughnut');
      const type = 'doughnut';

      const data = {
        labels: ['トップス', 'ボトムス', 'アクセサリ'],
        datasets: [
          {
            label: 'カテゴリ別売上比（5月）',
            data: [400, 600, 200],
            backgroundColor: [
              'rgba(202, 71, 117, 0.5)', 'rgba(255, 187, 0, 0.5)', 'rgba(251, 224, 0, 0.5)',
            ],
            pointStrokeColor: '#0088EA',
          },
        ]
      }

      const options = {};

      const config = {
        type: type,
        data: data,
        options: options,
      }

      new Chart(ctx, config);
    };

    $(() => {
      bar();
      line();
      doughnut();
    });
  </script>
</html>
